<style>
h3 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
    text-align: center;
}
</style>
<h3>
    Service List
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Service Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.serviceName}}</td>
                <td>
                    <a href="/service/{{this._id}}">
                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </a>
                    <a href="/service/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');">
                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
<a href="/service" class="btn btn-danger">
    <i class="fa fa-plus"> </i> Create New Service
</a>
<a href="/" class="btn btn-danger">
    Logout
</a>